@charset "UTF-8";

/* 
    em HTML ´id em CSS #
    em HTML class em CSS é .
*/


body {
    background-color: rgb(164, 222, 164);
}

h1 {
    color: rgb(5, 113, 5);
}
h1#principal {
    text-align: center;
    background-color: green;
    color: white;
}

h2 {
    color: rgb(4, 122, 4);
}
.basico {
    color: white;
}