@charset "UTF-8";
                                                /* Configuração global*/
* {
    font-family: Arial, Helvetica, sans-serif;
}
                                                /* Corpo do site */
body {
    background-image: linear-gradient(to right, #9AEBA3, #DAFDBA );
}
                                                 /* seletor da coluna*/
main {
    background-color: white;
    border-radius: 20px;                         /*bordas arredendadas*/
    box-shadow: 10px 10px 15px #4e755296;      /*sobra*/
    width: 600px;                                /* largura*/
    padding: 10px;                               /* Revestimento, Enchimento, Acolchoamento */
    margin: auto                                 /*margem*/

}
                                                /* Titulo ou Conteudo Principal*/
h1 {
    color:  #0472a9;                           
    text-align: center;                         /*Centralizar texto*/
    text-shadow: 1px 1px 0px black;           /*Sombra do texto*/
}
                                                /*Cabeçalho*/
h2 {
    color: #012030;                           /* Cor da letra*/
}
                                                /*paragrafo*/
p {
    color: #13678A;                           /* Cor da letra*/
    text-align: justify;
}