@charset "UTF-8";

:root {
    --cor1: #CD3E33;
    --cor2: #F8BF35;
    --cor3: #69301B;
    --cor4: #F5E5C9; 

    --font-padrão: Arial, Verdana, Helvetica, sans-serif;
}

body {
    height: 97vh;
    color: white;
    background-color: black;
    background-image: url(imagens/hanburguer.1200.png);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
      
}
#cabeça {
    display: flex;
    align-items: center;
    background-color: var(--cor1);
    height: 180px;
    padding: 10px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    
}
#icone {
    max-width: 180px;
    padding: 5px;
}
#circulo {
    background-color: var(--cor2);
    width: 190px;
    border-radius: 120px;
    box-shadow: 1px 1px 4px 20px var(--cor1);
}
#nav1 {
    margin-top: 170px;
    margin-right: 150px;
    
}
#nav1 > a {
    max-width: 1px;
    margin: 10px;
    background-color: var(--cor4);
    padding: 10px;
    border-radius: 12px;
    text-decoration: none;
    color: black;
    box-shadow: 1px -1px 20px 3px var(--cor2);
}
h1 {
    
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 20px;
}
